In [1]:
import os
import pandas as pd
import json
from pandas import DataFrame

In [2]:
directory = os.listdir('sokulee/')
all_user_step = []
all_user_heart = []
all_user_sleep = []

In [3]:
for i in range(0,len(directory)) :
    file = os.listdir('sokulee/'+directory[i])
    for j in file : 
        total_data = json.load(open('sokulee/'+ directory[i] + '/'+ j))
        if 'heart' in j :
            if len(total_data["activities-heart-intraday"]['dataset']) > 0 :
                need_data = total_data["activities-heart-intraday"]['dataset']
                df = DataFrame(need_data)
                df['DATE'] = total_data["activities-heart"][0]['dateTime']
                df['USERNAME'] = directory[i]
                all_user_heart.append(df)
        elif 'sleep' in j : 
            if len(total_data['sleep']) > 0 :
                need_data = total_data['sleep'][0]
                df = DataFrame()
                df['USERNAME'] = [directory[i]]
                df['DATE'] = [need_data["dateOfSleep"]]
                df['STARTTIME'] = [need_data['startTime'].split('T')[1]]
                df['MINUTESASLEEP'] = [need_data['minutesAsleep']]
                df['MINUTESAWAKE'] = [need_data['minutesAwake']]
                df['TIMEINBED'] = [need_data['timeInBed']]
                all_user_sleep.append(df)
        else :            
            if 'activities-steps-intraday' in total_data.keys() : 
                need_data = total_data['activities-steps-intraday']['dataset']
                df = DataFrame(need_data)
                df['DATE'] = total_data['activities-steps'][0]["dateTime"]
                df['USERNAME'] = directory[i]
                df['HOUR'] = df['time'].apply(lambda x : int(x.split(":")[0]))
                df['MINUTE'] = df['time'].apply(lambda x : int(x.split(":")[1]))
                all_user_step.append(df)

In [4]:
df_all_user_heart = pd.concat(all_user_heart).reset_index()
df_all_user_step = pd.concat(all_user_step).reset_index()
df_all_user_sleep = pd.concat(all_user_sleep).reset_index()

In [5]:
del df_all_user_heart['index']
del df_all_user_step['index']
del df_all_user_sleep['index']
df_all_user_step = df_all_user_step.rename(index=str, columns={"time": "TIME", "value": "STEPS"})
df_all_user_heart = df_all_user_heart.rename(index=str, columns={'time' : 'TIME' , 'value' : 'VALUE'})
df_all_user_heart = df_all_user_heart.sort_values(['DATE', 'USERNAME'])

In [6]:
heart_order_col = ['USERNAME' ,'DATE', 'TIME', 'VALUE']
df_all_user_heart = df_all_user_heart[heart_order_col]
steps_order_col = ['USERNAME' ,'DATE', 'TIME', 'HOUR' , 'MINUTE' , 'STEPS']
df_all_user_step = df_all_user_step[steps_order_col]
sleep_order_col = ['USERNAME' ,'DATE', 'STARTTIME', 'MINUTESASLEEP' , 'MINUTESAWAKE' , 'TIMEINBED']
df_all_user_sleep = df_all_user_sleep[sleep_order_col]

In [7]:
df_all_user_heart

        USERNAME        DATE      TIME  VALUE
0            A01  2016-04-01  00:00:00     79
1            A01  2016-04-01  00:01:00     80
2            A01  2016-04-01  00:02:00     78
3            A01  2016-04-01  00:03:00     73
4            A01  2016-04-01  00:04:00     77
5            A01  2016-04-01  00:05:00     77
6            A01  2016-04-01  00:06:00     77
7            A01  2016-04-01  00:07:00     74
8            A01  2016-04-01  00:08:00     77
9            A01  2016-04-01  00:09:00     81
10           A01  2016-04-01  00:10:00     77
11           A01  2016-04-01  00:11:00     73
12           A01  2016-04-01  00:12:00     74
13           A01  2016-04-01  00:13:00     75
14           A01  2016-04-01  00:14:00     75
15           A01  2016-04-01  00:15:00     73
16           A01  2016-04-01  00:16:00     71
17           A01  2016-04-01  00:17:00     73
18           A01  2016-04-01  00:18:00     76
19           A01  2016-04-01  00:19:00     80
20           A01  2016-04-01  00:20:00     80
21           A01  2016-04-01  00:21:00     78
22           A01  2016-04-01  00:22:00     80
23           A01  2016-04-01  00:23:00     79
24           A01  2016-04-01  00:24:00     75
25           A01  2016-04-01  00:25:00     73
26           A01  2016-04-01  00:26:00     77
27           A01  2016-04-01  00:27:00     79
28           A01  2016-04-01  00:28:00     80
29           A01  2016-04-01  00:29:00     86
...          ...         ...       ...    ...
3737138     A098  2016-05-20  23:30:00     78
3737139     A098  2016-05-20  23:31:00     77
3737140     A098  2016-05-20  23:32:00     78
3737141     A098  2016-05-20  23:33:00     79
3737142     A098  2016-05-20  23:34:00     79
3737143     A098  2016-05-20  23:35:00     80
3737144     A098  2016-05-20  23:36:00     78
3737145     A098  2016-05-20  23:37:00     81
3737146     A098  2016-05-20  23:38:00     74
3737147     A098  2016-05-20  23:39:00     76
3737148     A098  2016-05-20  23:40:00     79
3737149     A098  2016-05-20  23:41:00     79
3737150     A098  2016-05-20  23:42:00     77
3737151     A098  2016-05-20  23:43:00     78
3737152     A098  2016-05-20  23:44:00     78
3737153     A098  2016-05-20  23:45:00     86
3737154     A098  2016-05-20  23:46:00     92
3737155     A098  2016-05-20  23:47:00     90
3737156     A098  2016-05-20  23:48:00     76
3737157     A098  2016-05-20  23:49:00     71
3737158     A098  2016-05-20  23:50:00     76
3737159     A098  2016-05-20  23:51:00     76
3737160     A098  2016-05-20  23:52:00     76
3737161     A098  2016-05-20  23:53:00     75
3737162     A098  2016-05-20  23:54:00     74
3737163     A098  2016-05-20  23:55:00     74
3737164     A098  2016-05-20  23:56:00     77
3737165     A098  2016-05-20  23:57:00     79
3737166     A098  2016-05-20  23:58:00     78
3737167     A098  2016-05-20  23:59:00     76

[3737168 rows x 4 columns]

In [8]:
df_all_user_step

        USERNAME        DATE      TIME  HOUR  MINUTE  STEPS
0            A01  2016-04-01  00:00:00     0       0      0
1            A01  2016-04-01  00:01:00     0       1      0
2            A01  2016-04-01  00:02:00     0       2      0
3            A01  2016-04-01  00:03:00     0       3      0
4            A01  2016-04-01  00:04:00     0       4      0
5            A01  2016-04-01  00:05:00     0       5      0
6            A01  2016-04-01  00:06:00     0       6     16
7            A01  2016-04-01  00:07:00     0       7      0
8            A01  2016-04-01  00:08:00     0       8      0
9            A01  2016-04-01  00:09:00     0       9      0
10           A01  2016-04-01  00:10:00     0      10      0
11           A01  2016-04-01  00:11:00     0      11      0
12           A01  2016-04-01  00:12:00     0      12      0
13           A01  2016-04-01  00:13:00     0      13      0
14           A01  2016-04-01  00:14:00     0      14      0
15           A01  2016-04-01  00:15:00     0      15      0
16           A01  2016-04-01  00:16:00     0      16      0
17           A01  2016-04-01  00:17:00     0      17      0
18           A01  2016-04-01  00:18:00     0      18      0
19           A01  2016-04-01  00:19:00     0      19      0
20           A01  2016-04-01  00:20:00     0      20      0
21           A01  2016-04-01  00:21:00     0      21      0
22           A01  2016-04-01  00:22:00     0      22      0
23           A01  2016-04-01  00:23:00     0      23      7
24           A01  2016-04-01  00:24:00     0      24      0
25           A01  2016-04-01  00:25:00     0      25      0
26           A01  2016-04-01  00:26:00     0      26      0
27           A01  2016-04-01  00:27:00     0      27      0
28           A01  2016-04-01  00:28:00     0      28      0
29           A01  2016-04-01  00:29:00     0      29      0
...          ...         ...       ...   ...     ...    ...
4848450     A098  2016-05-20  23:30:00    23      30      0
4848451     A098  2016-05-20  23:31:00    23      31      0
4848452     A098  2016-05-20  23:32:00    23      32      0
4848453     A098  2016-05-20  23:33:00    23      33      0
4848454     A098  2016-05-20  23:34:00    23      34      0
4848455     A098  2016-05-20  23:35:00    23      35      0
4848456     A098  2016-05-20  23:36:00    23      36      0
4848457     A098  2016-05-20  23:37:00    23      37      0
4848458     A098  2016-05-20  23:38:00    23      38      0
4848459     A098  2016-05-20  23:39:00    23      39      0
4848460     A098  2016-05-20  23:40:00    23      40      0
4848461     A098  2016-05-20  23:41:00    23      41      0
4848462     A098  2016-05-20  23:42:00    23      42      0
4848463     A098  2016-05-20  23:43:00    23      43      0
4848464     A098  2016-05-20  23:44:00    23      44      0
4848465     A098  2016-05-20  23:45:00    23      45      8
4848466     A098  2016-05-20  23:46:00    23      46      0
4848467     A098  2016-05-20  23:47:00    23      47     11
4848468     A098  2016-05-20  23:48:00    23      48      0
4848469     A098  2016-05-20  23:49:00    23      49      0
4848470     A098  2016-05-20  23:50:00    23      50      0
4848471     A098  2016-05-20  23:51:00    23      51      0
4848472     A098  2016-05-20  23:52:00    23      52      0
4848473     A098  2016-05-20  23:53:00    23      53      0
4848474     A098  2016-05-20  23:54:00    23      54     63
4848475     A098  2016-05-20  23:55:00    23      55      0
4848476     A098  2016-05-20  23:56:00    23      56      0
4848477     A098  2016-05-20  23:57:00    23      57      0
4848478     A098  2016-05-20  23:58:00    23      58      0
4848479     A098  2016-05-20  23:59:00    23      59      0

[4848480 rows x 6 columns]

In [9]:
df_all_user_sleep

,USERNAME,DATE,STARTTIME,MINUTESASLEEP,MINUTESAWAKE,TIMEINBED
0,A01,2016-04-01,02:39:00.000,485,26,511
1,A01,2016-04-02,02:09:00.000,512,37,549
2,A01,2016-04-04,01:52:30.000,335,11,346
3,A01,2016-04-05,02:04:00.000,311,24,335
4,A01,2016-04-06,01:49:00.000,491,59,551
5,A01,2016-04-07,01:08:30.000,361,32,393
6,A01,2016-04-08,01:50:00.000,338,6,344
7,A01,2016-04-09,01:47:30.000,612,33,645
8,A01,2016-04-10,03:00:00.000,452,54,512
9,A01,2016-04-11,01:12:00.000,357,36,393
10,A01,2016-04-12,00:24:30.000,413,26,439
11,A01,2016-04-13,04:27:30.000,414,19,433
12,A01,2016-04-14,01:24:00.000,351,31,382
13,A01,2016-04-15,01:07:30.000,91,0,91
14,A01,2016-04-16,01:47:00.000,367,11,379
15,A01,2016-04-17,15:44:30.000,193,24,222
16,A01,2016-04-19,12:21:00.000,134,13,147
17,A01,2016-04-20,03:58:30.000,255,22,277
18,A01,2016-04-21,00:10:00.000,401,29,430
19,A01,2016-04-22,04:11:00.000,217,13,230
20,A01,2016-04-23,03:48:30.000,389,35,424
21,A01,2016-04-25,03:46:30.000,483,46,530
22,A01,2016-04-26,04:43:00.000,424,34,458
23,A01,2016-04-27,04:41:30.000,413,23,436
24,A01,2016-05-02,02:29:00.000,320,33,353
25,A01,2016-05-06,02:09:00.000,471,72,551
26,A01,2016-05-18,02:13:30.000,490,26,520
27,A01,2016-05-19,01:32:30.000,318,46,364
28,A010,2016-04-01,00:31:00.000,470,26,496
29,A010,2016-04-02,02:32:00.000,475,18,493
...,...,...,...,...,...,...
2604,A097,2016-04-02,02:30:00.000,380,11,391
2605,A097,2016-04-03,03:31:00.000,281,12,293
2606,A097,2016-04-05,02:19:00.000,513,11,524
2607,A097,2016-04-07,02:58:00.000,359,3,362
2608,A097,2016-04-08,02:33:00.000,412,12,424
2609,A097,2016-04-10,02:33:00.000,561,29,590
2610,A097,2016-04-14,00:49:00.000,163,118,295
2611,A097,2016-04-15,01:37:00.000,308,257,573
2612,A097,2016-04-17,02:57:00.000,151,86,263
2613,A097,2016-04-18,02:21:00.000,289,183,500
2614,A097,2016-04-19,00:38:00.000,319,276,595
2615,A097,2016-04-20,03:38:00.000,154,109,263
2616,A097,2016-04-21,01:00:30.000,423,112,542
2617,A097,2016-04-22,01:41:00.000,259,337,596
2618,A097,2016-04-24,02:38:00.000,155,103,278
2619,A097,2016-04-25,01:41:30.000,363,188,559
2620,A097,2016-04-26,00:37:00.000,300,174,494
2621,A097,2016-05-02,01:04:30.000,289,292,588
2622,A097,2016-05-03,01:08:00.000,291,237,575
2623,A097,2016-05-06,01:20:30.000,250,196,446
2624,A097,2016-05-07,00:53:00.000,284,226,519
2625,A097,2016-05-09,02:14:00.000,248,225,499
2626,A097,2016-05-11,23:53:00.000,240,89,384
2627,A097,2016-05-12,01:21:00.000,204,224,428
2628,A097,2016-05-13,01:44:00.000,275,178,463
2629,A097,2016-05-16,01:09:00.000,259,263,560
2630,A097,2016-05-18,01:10:30.000,198,182,451
2631,A097,2016-05-20,01:12:00.000,265,127,548
2632,A098,2016-04-10,03:52:00.000,434,16,450
2633,A098,2016-05-18,18:02:00.000,244,2,249

In [10]:
df_all_user_sleep.to_csv("data/all_user_sleeps.csv")
df_all_user_step.to_csv("data/all_user_steps.csv")
df_all_user_heart.to_csv("data/all_user_hearts.csv")